h1,
h2,
h3 {
    text-align: center;
}

body {
    margin-left: 5vh;
    margin-right: 5vh;
    outline: 1px solid #ffaa00;
    padding-left: 2vh;
}

*::selection {
    background-color: #ffaa00;
}

code {
    color: #000000;
}

#username {
    font-family: 'JetbrainsMono';
    font-size: clamp(3rem, 10vw, 10rem);
    color: #ffaa00;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

code {
    color: #fff;
}

#orange {
    color: #ffaa00;
}

/* Setting up cool link underlines */
a {
    text-decoration: none;
    position: relative;
}

a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #ff9900;
    transition: 0.4s;
}

a:hover:after {
    width: 100%;
}

footer {
    color: #c8c8c8;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 0px;
}