@import url("base.css");
@import url("grid.css");
@import url("form.css");
@import url("nav.css");
@import url("card.css");
@import url("tab.css");
@import url("tag.css");
@import url("dropdown.css");
@import url("util.css");

:root {
    --bg-color: #111111;
    --bg-secondary-color: #37373a;
    --color-primary: #ffaa00;
    --color-lightGrey: #5e5e5e;
    --color-grey: #3a3a3b;
    --color-darkGrey: #252525;
    --color-error: #bb1818;
    --color-success: #1dd105;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.75rem;
    --font-color: #ffffff;
    --font-family-sans: "JetbrainsMono", -apple-sys tem, "BlinkMacSystemFont", "Avenir",
        "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: "JetbrainsMono", monaco, "Consolas", "Lucida Console", monospace;
}

