/* General */
@import url(https://fonts.bunny.net/css?family=raleway:400);

body {
    font-family: "Raleway", sans-serif;
    background-color: #1e1e2e;
    color: #cdd6f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

::selection {
    background-color: #74c7ec;
}

a::selection {
    color: #1e1e2e;
}

/* Main content */
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    /* Space between cards */
    width: 100%;
    max-width: 1550px;
    padding: 10px;
    box-sizing: border-box;
    align-items: start;
    /* Align cards to the top of the grid row */
}

/* Card */
.card {
    background-color: #181825;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(17, 17, 27, 20);
    padding: 10px;
    /* Reduced padding to minimize space between img and card */
    box-sizing: border-box;
    overflow: hidden;
    /* Ensures that content doesn't overflow out of the card */
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(17, 17, 27, 0.4);
}

.card h2 {
    font-size: 1.3rem;
}

.card img {
    width: 100%;
    /* Ensure the image takes full width of the card */
    height: auto;
    /* Maintains the image's aspect ratio */
    display: block;
    /* Removes any extra space at the bottom of the image */
    border-radius: 10px;
    /* Optional: Adds rounded corners to the image */
    margin-bottom: 10px;
    /* Adds a small space between the image and content */
}

/* Content within the card */
.card-content {
    padding: 10px;
    box-sizing: border-box;
}


a {
    color: #a6e3a1;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s, color 0.4s;
}

a:hover {
    color: #a6e3a1;
    border-bottom: 2px solid #a6e3a1;
}

ul {
    text-align: left;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .card-content {
        padding: 20px;
    }

    #username {
        font-size: 3rem;
    }

    .social-links a {
        margin: 0 10px;
    }
}

strong {
    color: #fab387;
}

span {
    color: #cba6f7;
}

h3 {
    color: #bac2de;
    font-size: 0.8rem;
}

aside {
    color: #a6adc8;
    font-size: 0.75rem;
    padding-bottom: 0.5vh;
}