/* General */
@import url(https://fonts.bunny.net/css?family=raleway:400);
body {
  font-family: "Raleway", sans-serif;
  background-color: #1e1e2e;
  color: #cdd6f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

::selection {
  background-color: #ffaa00;
}
a::selection {
  color: #1e1e2e;
}

/* Main content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

/* Card */
.card {
  background-color: #181825;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(17, 17, 27, 20);
  padding: 30px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Header */
#username {
  font-size: 3rem;
  color: #ffaa00;
  text-align: center;
  margin-bottom: 20px;
  user-select: none;
}

/* Social links */
.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.social-links a {
  color: #ffaa00;
  font-size: 2rem;
  text-decoration: none;
  user-select: none;
  margin: 5px;
}

.social-links i {
  color: #cdd6f4;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #313244;
  color: #cdd6f4;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.9rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Article */
article {
  font-size: 1.15rem;
  line-height: 1.5;
  color: #cdd6f4;
  text-align: center;
}

article {
  vertical-align: middle;
  margin: 0 3px;
}

article a {
  color: #ffaa00;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s, color 0.4s;
}

article a:hover {
  color: #ffaa00;
  border-bottom: 2px solid #ff9900;
}

ul {
  text-align: left;
}

/* Discord status */
#discord-status {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .card {
    padding: 40px;
  }

  #username {
    font-size: 3rem;
  }

  .social-links a {
    margin: 0 10px;
  }
}
