@import url("https://fonts.bunny.net/css?family=raleway:400");

body {
  font-family: "Raleway", sans-serif;
  background-color: #1e1e2e;
  color: #cdd6f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 20px 0;
}

h1 {
  color: #fab387;
}

button#repo-toggle {
  background-color: #fab387;
  color: #1e1e2e;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1rem;
}

button#repo-toggle:hover {
  background-color: #fab387;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.gallery-item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img:hover {
  transform: scale(1.05);
}

/* Carousel Styles */
.carousel {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.carousel-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbbbbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }
}

header {
  text-align: center;
  padding: 20px;
}

aside {
  font-size: 1.1rem;
  color: #cdd6f4;
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
  text-align: left;
}

aside p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  position: relative;
  transition: color 0.4s;
  color: #fab387;
}

*::selection {
  background-color: #fa0;
}

a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid;
  transition: 0.4s;
}

a:hover:after {
  width: 100%;
}

div.carousel>a,
div.carousel>a:hover,
div.carousel>a:after {
  text-decoration: none !important;
  border-bottom: none !important;
}